<!DOCTYPE html>
<html>
<head>
    <!-- Title -->
    <title>@ViewBag.Title</title>
    <!-- Meta -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    @RenderSection("meta",false)
    <!-- Favicon -->
    <link href="favicon.ico" rel="shortcut icon">
    @Styles.Render("~/Content/css")
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,300" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" rel="stylesheet" type="text/css">
    <link href="~/Content/jquery.niftymodals.min.css" rel="stylesheet" />
    <style>
        .listStyleNone {
            list-style-type: none;
            list-style-position: inside;
            padding-left: 0px;
        }

            .listStyleNone li {
                padding-left: 0px;
                margin-left: 0px;
            }
    </style>
</head>
<body>

    <div id="body_bg">
        <div id="pre_header" class="container" style="background-image:url('http://stc.id.nixcdn.com/v11/images/noel-bg-header.png')">
            <div class="row margin-top-10 visible-lg">

            </div>
        </div>
        <div class="primary-container-group">
            <!-- Background -->
            <div class="primary-container-background">
                <div class="primary-container"></div>
                <div class="clearfix"></div>
            </div>
            <!--End Background -->
            <div class="primary-container">
                <div id="header" class="container">
                    <div class="row">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="@Url.Action("Index", "Home")" title="">
                                <img src="~/Images/logo.png" alt="Logo" />
                            </a>
                        </div>
                        <!-- End Logo -->
                        <ul class="social-icons pull-right hidden-xs">
                            <li class="social-rss">
                                <a href="#" target="_blank" title="RSS"></a>
                            </li>
                            <li class="social-twitter">
                                <a href="#" target="_blank" title="Twitter"></a>
                            </li>
                            <li class="social-facebook">
                                <a href="#" target="_blank" title="Facebook"></a>
                            </li>
                            <li class="social-googleplus">
                                <a href="#" target="_blank" title="GooglePlus"></a>
                            </li>
                        </ul>
                    </div>
                    @*<div class="row" style="position:absolute;top:25px;right:250px;">
                        @Html.Partial("_LoginSocialPartial")
                    </div>*@
                </div>
                <!-- Top Menu -->
                @* @Html.Action("_TopMenuPartial", "Home", new { area = "" })*@
                @{
                    Html.RenderAction("_TopMenuPartial", "Home", new { area = "" });
                }
                <!-- End Top Menu -->
                <!-- === END HEADER === -->
                <!-- === BEGIN CONTENT === -->
                <div id="content">
                    <div class="container">
                        <div class="row margin-vert-30">
                          
                            @RenderBody()
                            

                                <!-- Side Column -->
                                <div class="col-md-4">

                                    <!-- Featured Posts -->
                                    @Html.Action("Featured_ArticlesPartial", "Post", new { area = "" })

                                    <!-- End Featured Posts -->
                                    <!-- Blog Tags -->
                                    @Html.Action("_ListPartial", "Tag", new { area = "" })
                                    <!-- End Blog Tags -->

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            Đăng ký nhận bài viết
                                        </div>
                                        <div class="panel-body">
                                            <form action="@Url.Action("DangKyNhanTin","Home",new { area=""})" method="post">
                                                @Html.AntiForgeryToken()
                                                <div class="form-group">
                                                    <input type="text" required class="form-control" name="FullName" maxlength="200" placeholder="Tên của bạn" />
                                                </div>
                                                <div class="form-group">
                                                    <input type="email" required class="form-control" name="Email" maxlength="256" placeholder="Email" />
                                                </div>

                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-default btn-sm">Đăng Ký Ngay</button>

                                                </div>
                                            </form>
                                        </div>

                                    </div>


                                    <div class="panel panel-default">
                                        <div class="panel-heading">Thống Kê</div>
                                        <div class="panel-body">
                                            <ul class="listStyleNone">
                                                <li class="margin-top-10 small"><i class="fa-bar-chart"></i> Lượng truy cập: @HttpContext.Current.Application["luongtruycap"]</li>
                                                <li class="margin-top-10 small"><i class="fa-user"></i> Đang online: <span id="CountUsersOnline"></span></li>
                                            </ul>
                                        </div>


                                    </div>

                                    <div class="margin-top-50 text-center">
                                        <a href="http://chuyenlaptrinh.net/" target="_blank"><img src="~/Images/chuyenlaptrinh.gif" /></a>
                                    </div>

                                </div>
                                <!-- End Side Column -->
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- === END CONTENT === -->
        <!-- === BEGIN FOOTER === -->
        @Html.Partial("_FooterPartial", new { area = "" })
    </div>
    <!-- End Footer Menu -->

    
    <!-- JS -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/scripts.js"></script>

    @Html.Action("_BangTinPartial","Home")


    <!-- Isotope - Portfolio Sorting -->
    <script src="~/Scripts/jquery.isotope.js"></script>
    <!-- Mobile Menu - Slicknav -->
    <script src="~/Scripts/jquery.slicknav.js"></script>
    <!-- Animate on Scroll-->

    <script src="~/Scripts/jquery.visible.js"></script>
    <!-- Sticky Div -->
    <script src="~/Scripts/jquery.sticky.js"></script>
    <!-- Slimbox2-->

    <script src="~/Scripts/slimbox2.js"></script>
    <!-- Modernizr -->
    <script src="~/Scripts/modernizr.custom.js"></script>
    
    <!-- SignalR -->
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="/signalr/hubs" type="text/javascript"></script>
    
    <!-- End JS -->


    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
          
            // Reference the auto-generated proxy for the hub.
            var usersOnline = $.connection.usersOnlineHub;
            // Create a function that the hub can call back to display messages.
            usersOnline.client.updateUsersOnlineCount = function (count) {
                // Add the message to the page.
                $('#CountUsersOnline').text(count);
            };
            $.connection.hub.start();
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>

