@model Blog_IT.Models.AspNetUser

@{
    ViewBag.Title = "Sửa thông tin thành viên";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section styles{
<link href="~/Scripts/DatePicker/themes/jquery-ui.css" rel="stylesheet" />
}
@section scripts{
<script src="~/Scripts/DatePicker/jquery-ui.js"></script>
<script src="~/Scripts/DatePicker/jquery.ui.datepicker-vi.js"></script>
    @Scripts.Render("~/bundles/jqueryval")

<script>
    $(function () {
        $("#datepicker").datepicker($.datepicker.regional["vi"]);
        jQuery.validator.methods.date = function (value, element) {
            var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
            if (isChrome) {
                var d = new Date();
                return this.optional(element) || !/Invalid|NaN/.test(new Date(d.toLocaleDateString(value)));
            } else {
                return this.optional(element) || !/Invalid|NaN/.test(new Date(value));
            }
        };
    });
</script>
}
<h1>Sửa thông tin thành viên</h1>

<hr/>
<form action="@Url.Action("Edit")" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model=>model.UserName)
        @Html.HiddenFor(model=>model.Image)
        @Html.HiddenFor(model=>model.PasswordHash)
        @Html.HiddenFor(model=>model.SecurityStamp)
        @Html.HiddenFor(model=>model.AccessFailedCount)
        @Html.HiddenFor(model=>model.DateRegister)
        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmailConfirmed, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                <div class="checkbox">
                    @Html.EditorFor(model => model.EmailConfirmed)
                    @Html.ValidationMessageFor(model => model.EmailConfirmed, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LockoutEnabled, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                <div class="checkbox">
                    @Html.EditorFor(model => model.LockoutEnabled)
                    @Html.ValidationMessageFor(model => model.LockoutEnabled, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LockoutEndDateUtc, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.LockoutEndDateUtc, new { id="datepicker",tabindex="100", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LockoutEndDateUtc, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <label class="control-label col-md-3">Thay hình:</label>
            <div class="col-md-8">
                <input type="file" name="file"  />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Introduce, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.Introduce, new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.Introduce, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-8">
                <button type="submit" class="btn btn-primary">Sửa</button>
            </div>
        </div>
    </div>
</form>

<div>
    @Html.ActionLink("Về danh sách", "Index")
</div>
